h1 {
    font-size: 70px;
    text-align: center;
     font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
    
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}



